$hdr-bld:   normal bold 1em "hdr-bld", "Helvetica-Neue", Helvetica, sans-serif;

$text-lt:    normal 300 1em "text-lt", "Helvetica-Neue", Helvetica, sans-serif;
$text-reg:   normal normal 1em "text-reg", "Helvetica-Neue", Helvetica, sans-serif;
$text-bld:   normal bold 1em "text-bld", "Helvetica-Neue", Helvetica, sans-serif;
$text-blk:   normal 900 1em "text-blk", "Helvetica-Neue", Helvetica, sans-serif;




* {
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  padding: 0;
  margin: 0;
}
body {
  font: $text-lt;
  font-size: 15px;
  background-color: #282c34;
}
#app {
  position: relative;
}

h1, h2, h3, h4, h5, h6 { font: $hdr-bld; text-transform: uppercase; line-height: 1.1em;}
h1 { font-size: 3.5em; }
h2 { font-size: 3em; }
h3 { font-size: 2.5em; }
h4 { font-size: 2em; }
h5 { font-size: 1.5em; }
h6 { font-size: 1em; }

.hdr-bld { font: $hdr-bld; }
.text-lt { font: $text-lt; }
.text-reg { font: $text-reg; }
.text-bld, em, b { font: $text-bld; }
.text-blk, strong { font: $text-blk; }

a:hover, a:active { text-decoration: none; }


#layer-all {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}

#mid-layer {
  position: relative;
  z-index: 10;
}

#layer-top {

  .wxh {
    position: fixed;
    width: 100%;
    bottom: 0px;
    height: 50px;
    font-size: 12px;
    text-align: center;
    color: rgba(255,255,255,0.2);
    z-index: 10000;
  }
  .wxh em {
    color: rgba(255,255,255,0.4);
  }
  .ui {
    position: absolute;
    z-index: 10000;
  }
}


#layer-top #hamburger {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 4%;
  right: 40px;
  border-color: transparent;
  background-color: #fd2c57;
  -webkit-transform: scale(0.9);
  -moz-transform:    scale(0.9);
  -ms-transform:     scale(0.9);
  -o-transform:      scale(0.9);
  transform:         scale(0.9);
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#layer-top #hamburger span {
  display: block;
  background: #fff;
  width: 21px;
  height: 1px;
  position: absolute;
  top: 19px;
  left: 14px;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-delay: 200ms;
}
#layer-top #hamburger span:nth-child(2) {
  top: 25px;
}
#layer-top #hamburger span:nth-child(3) {
  top: 31px;
}
#layer-top #hamburger:hover {
  -webkit-transform: scale(1.1);
  -moz-transform:    scale(1.1);
  -ms-transform:     scale(1.1);
  -o-transform:      scale(1.1);
  transform:         scale(1.1);
}
#layer-top #hamburger:hover span:nth-child(1) {
  -webkit-transform: translateY(-0.1em);
  -moz-transform:    translateY(-0.1em);
  -ms-transform:     translateY(-0.1em);
  -o-transform:      translateY(-0.1em);
  transform:         translateY(-0.1em);
}
#layer-top #hamburger:hover span:nth-child(3) {
  -webkit-transform: translateY(0.1em);
  -moz-transform:    translateY(0.1em);
  -ms-transform:     translateY(0.1em);
  -o-transform:      translateY(0.1em);
  transform:         translateY(0.1em);
}
#layer-top #hamburger:active {
  background-color: #f0184e;
}
#layer-top #hamburger:active span:nth-child(2) {

}



#layer-mid {
  position: relative;
}

#main, #sidebar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: inline-block; /* Attempt at fixing margins bleeding out of wrapper */
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

#layer-all #sidebar{
  position: fixed;
  overflow: hidden;
  background: transparent;
  overflow: hidden;
  -webkit-transform: translateX(-70%);
  -moz-transform:    translateX(-70%);
  -ms-transform:     translateX(-70%);
  -o-transform:      translateX(-70%);
  transform:         translateX(-70%);
  z-index: 1;
  transition: transform 1000ms cubic-bezier(1, 0, 0, 1);
  -webkit-transition: transform 1000ms cubic-bezier(1, 0, 0, 1);
  -moz-transition: transform 1000ms cubic-bezier(1, 0, 0, 1);
  -o-transition: transform 1000ms cubic-bezier(1, 0, 0, 1);
}
#layer-all #sidebar ul {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
  position: absolute;
  z-index: 2;
  bottom: 4%;
  left: 5%;
  list-style-type: none;
  height: 58%;
}
#layer-all #sidebar a {
  display: block;
  padding: 15px;
  font: $hdr-bld; text-transform: uppercase; ;
  font-size: 1.75em;
  color: rgba(255,255,255,0.5);
  transition: color 200ms ease-in;
  -webkit-transition: color 200ms ease-in;
  -moz-transition: color 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
}
#layer-all #sidebar a:active,
#layer-all #sidebar a:hover {
  color: rgba(255,255,255,0.75);
}
#layer-all #sidebar .active a {
  color: rgba(255,255,255,1);
}
#layer-all #sidebar #sidebar-logo {
  font: $hdr-bld;
  color: #fff;
  color: rgba(0,0,0,0.3);
  font-size: 6.875em;
  position: absolute;
  bottom: 195px;
  left: -170px;
  line-height: 1em;
  text-align: left;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  z-index: 1;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#layer-all #sidebar li {
  transition: transform 1000ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: transform 1000ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: transform 1000ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: transform 1000ms cubic-bezier(0.77, 0, 0.175, 1);
}

#layer-all.show-sidebar {
  overflow: hidden;
}

#layer-all #sidebar li {
  -webkit-transform: translateX(-30%);
  -moz-transform:    translateX(-30%);
  -ms-transform:     translateX(-30%);
  -o-transform:      translateX(-30%);
  transform:         translateX(-30%);
}
#layer-all.show-sidebar #sidebar li {
  -webkit-transform: translateX(0%);
  -moz-transform:    translateX(0%);
  -ms-transform:     translateX(0%);
  -o-transform:      translateX(0%);
  transform:         translateX(0%);
}






#layer-all #main {
  background: rgba(0,0,0,0.3);
  transform: translateX(0%);
  z-index: 2;
  transition:
  transform 800ms cubic-bezier(0.77, 0, 0.175, 1),
  background-color 800ms;
  -webkit-transition:
  transform 800ms cubic-bezier(0.77, 0, 0.175, 1),
  background-color 800ms;
  -moz-transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: transform 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#layer-all.show-sidebar #sidebar{
  -webkit-transform: translateX(0%);
  -moz-transform:    translateX(0%);
  -ms-transform:     translateX(0%);
  -o-transform:      translateX(0%);
  transform:         translateX(0%);
}
#layer-all.show-sidebar #main {
  -webkit-transform: translateX(100%);
  -moz-transform:    translateX(100%);
  -ms-transform:     translateX(100%);
  -o-transform:      translateX(100%);
  transform:         translateX(100%);
}


.alert.mock {
  margin-bottom: 0;
  height: 210px;
  border: none;
  border-radius: 0;
}
.fade-appear {
  opacity: 0.01;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
}
