#featured{



}

#fullpage {

}

#main{

}

body.main-fullpage {

  #main{
    overflow: hidden;

    .section {

    }
  }

}
body.fp-viewing-0 {
  .wrapper{
    background-color: #27c5db !important;
  }
}
body.fp-viewing-1 {
  .wrapper{
    background-color: #4eb8ae !important;
  }
}
body.fp-viewing-2 {
  .wrapper{
    background-color: #81c781 !important;
  }
}
